@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Josefin+Sans:ital,wght@0,100;0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Josefin+Sans:ital,wght@0,100;0,300;0,700;1,400&family=Kanit:ital,wght@1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

:root {
    --color-font: #fff;
    --font-principal: 'Josefin Sans', sans-serif;
    --font-secundaria: 'Kanit', sans-serif;

}


.link-menu {
    color: var(--color-font);
    font-family: var(--font-principal);
    transition: .3s;
}

.link-menu:hover {
    color: #e8d7d7cc;
}

#logo {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: bold;
    color: #e8d7d7cc;
}

.span-logo {
    font-weight: 700;
}

#header {
    display: flex;
    height: 8vh;
    padding: 1rem;
    justify-content: space-between;
    background: #0e1e1a;
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

/*Main*/

main {
    height: 92vh;
    width: 100%;
    background: linear-gradient(45deg, #030303, #15171c, #0e1e1a, #1a1702);
    /**/
    background-size: 300% 300%;
    animation: color 15s ease infinite;

}

section {
    height: 80vh;
    width: 100%;
    text-align: center;
}

#caixa {
    align-items: center;
}

.box-left {
    width: 50%;
}

.box-left h2 {
    color: aliceblue;
    font-size: 3em;
}

.box-left p {
    color: antiquewhite;
    font-size: 1.5em;
}

.btn-box-left {
    background: transparent;
    outline: none;
    border-radius: 16px;
    padding: 1em;
    background: aliceblue;
    color: var(--font-principal);
    margin-right: 0.5em;
    transition: .3s ease;
}

.btn-box-left:hover {
    background: none;
    border: 1px solid var(--color-font);
    color: aliceblue;
    transition: .3s ease;
}

.box-left i {
    color: #fff;
    padding: 0.3em;
    font-size: 1.5em;
}

.box-left i:hover {
    color: #5a5656e8;
}

.box-rigth {
    width: 50%;
    height: 75vh;
}

#avatar {
    width: 600px;
    height: 400px;
}


@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width : 600px) {

    #menu {
        display: block;
        position: absolute;
        width: 50%;
        top: 70px;
        right: 0;
        background: #292828f5;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;

    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        color: #e7e7e7e8;
    }

    #menu a:hover {
        color: #a19696e8;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #fff;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px
    }
}