/* importando as fonts */

@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300;400;500;700;800&display=swap');

/* resetando css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* váriáveis */

:root {

    /* fonts */

    --font-principal: 'Open Sans', sans-serif;
    --font-alternativa: 'Mooli', sans-serif;

    /* cores */

    --bg-color: #0D0D0D;
    --cor-da-font: #D9D9D9;
    --red-alternativo: #732119;
    --yellow: #D9A036;
    --greey: #404040;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-principal);
}

header {
    max-width: 1100px;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    color: var(--cor-da-font);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-alternativa);
    font-weight: 600;
    font-size: 1.2rem;
}

.logo .icon-span {
    font-size: 1.2rem;
    color: var(--yellow);
}

.lista-header {
    display: flex;
    gap: 1.5rem;
}

.lista-header a {
    color: var(--cor-da-font);
    transition: .4s;
}

.lista-header a:hover {
    color: var(--yellow);
}

.btn-mobile {
    display: none;
}