@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Josefin+Sans:ital,wght@0,100;0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Josefin+Sans:ital,wght@0,100;0,300;0,700;1,400&family=Kanit:ital,wght@1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-font: #111;
    --font-principal: 'Josefin Sans', sans-serif;
    --font-secundaria: 'Kanit', sans-serif;

}


.link-menu {
    color: var(--color-font);
    font-family: var(--font-principal);
}

.link-menu:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
}

#header {
    display: flex;
    align-items: center;
    height: 8vh;
    padding: 1rem;
    justify-content: space-between;
    background: #fff;
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

/*Main*/

main {

    height: 92vh;
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
    background-size: 300% 300%;
    animation: color 15s ease infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width : 600px) {

    #menu {
        display: block;
        position: absolute;
        width: 50%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px
    }
}